
.app-container {
  background-image: url('assets/ventas.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
}



.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}

